Week 03,Week 04 Module03-IoTs with Node-RED and RPi/Module3-IoTs (Part 1 -- Getting Start Raspberry Pi)/Q102/Using Node-RED (read DHT-22 Sensor)/Q102-0301.json
[
    {
        "id": "d6b35559496318d0",
        "type": "tab",
        "label": "Q102-0301",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bcfc5be92bd00b6f",
        "type": "rpi-dht22",
        "z": "d6b35559496318d0",
        "name": "",
        "topic": "rpi-dht22",
        "dht": 22,
        "pintype": "0",
        "pin": "4",
        "x": 440,
        "y": 260,
        "wires": [
            [
                "ae17d2026071014f"
            ]
        ]
    },
    {
        "id": "1ff0c6a3eade9b3c",
        "type": "inject",
        "z": "d6b35559496318d0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "30",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 260,
        "wires": [
            [
                "bcfc5be92bd00b6f"
            ]
        ]
    },
    {
        "id": "ae17d2026071014f",
        "type": "debug",
        "z": "d6b35559496318d0",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 260,
        "wires": []
    }
]