Week 03,Week 04 Module03-IoTs with Node-RED and RPi/Module3-IoTs (Part 3 -- IoTs with Node-RED and RPi)/Q302/MQTT Client with Node-RED/Q302-0101.json
[
    {
        "id": "51676f5ae1675c99",
        "type": "tab",
        "label": "Q302-0101",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ede8af72fbce249f",
        "type": "debug",
        "z": "51676f5ae1675c99",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 40,
        "wires": []
    },
    {
        "id": "250656607fc84a6b",
        "type": "change",
        "z": "51676f5ae1675c99",
        "name": "Change:   LED1",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "OFF1",
                "fromt": "str",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "ON1",
                "fromt": "str",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 120,
        "wires": [
            [
                "9f24efe46f80ece3"
            ]
        ]
    },
    {
        "id": "3ef021806c6b9745",
        "type": "inject",
        "z": "51676f5ae1675c99",
        "name": "ON1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ON1",
        "payloadType": "str",
        "x": 230,
        "y": 300,
        "wires": [
            [
                "4f81208d4aa232bb"
            ]
        ]
    },
    {
        "id": "ebb6f203af356f41",
        "type": "inject",
        "z": "51676f5ae1675c99",
        "name": "OFF1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "OFF1",
        "payloadType": "str",
        "x": 230,
        "y": 340,
        "wires": [
            [
                "4f81208d4aa232bb"
            ]
        ]
    },
    {
        "id": "660c806e35360b3a",
        "type": "inject",
        "z": "51676f5ae1675c99",
        "name": "ON2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ON2",
        "payloadType": "str",
        "x": 230,
        "y": 400,
        "wires": [
            [
                "4f81208d4aa232bb"
            ]
        ]
    },
    {
        "id": "b120aaa6f163009a",
        "type": "inject",
        "z": "51676f5ae1675c99",
        "name": "OFF2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "OFF2",
        "payloadType": "str",
        "x": 230,
        "y": 440,
        "wires": [
            [
                "4f81208d4aa232bb"
            ]
        ]
    },
    {
        "id": "affad71055d20fc9",
        "type": "inject",
        "z": "51676f5ae1675c99",
        "name": "ON3",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ON3",
        "payloadType": "str",
        "x": 230,
        "y": 500,
        "wires": [
            [
                "4f81208d4aa232bb"
            ]
        ]
    },
    {
        "id": "53898654fded8848",
        "type": "inject",
        "z": "51676f5ae1675c99",
        "name": "OFF3",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "OFF3",
        "payloadType": "str",
        "x": 230,
        "y": 540,
        "wires": [
            [
                "4f81208d4aa232bb"
            ]
        ]
    },
    {
        "id": "cb65d8fe58a56115",
        "type": "inject",
        "z": "51676f5ae1675c99",
        "name": "ON4",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ON4",
        "payloadType": "str",
        "x": 230,
        "y": 600,
        "wires": [
            [
                "4f81208d4aa232bb"
            ]
        ]
    },
    {
        "id": "90648d0de7b7d03c",
        "type": "inject",
        "z": "51676f5ae1675c99",
        "name": "OFF4",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "OFF4",
        "payloadType": "str",
        "x": 230,
        "y": 640,
        "wires": [
            [
                "4f81208d4aa232bb"
            ]
        ]
    },
    {
        "id": "fc71a41e06c42f96",
        "type": "change",
        "z": "51676f5ae1675c99",
        "name": "Change:   LED2",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "OFF2",
                "fromt": "str",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "ON2",
                "fromt": "str",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 160,
        "wires": [
            [
                "73c248834cd70d73"
            ]
        ]
    },
    {
        "id": "b33943e6fd663555",
        "type": "change",
        "z": "51676f5ae1675c99",
        "name": "Change:   LED3",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "OFF3",
                "fromt": "str",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "ON3",
                "fromt": "str",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 200,
        "wires": [
            [
                "a7be2b60ab8da531"
            ]
        ]
    },
    {
        "id": "b01f6765bf25358a",
        "type": "change",
        "z": "51676f5ae1675c99",
        "name": "Change:   LED4",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "OFF4",
                "fromt": "str",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "ON4",
                "fromt": "str",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 240,
        "wires": [
            [
                "f72f99cf183ec4fb"
            ]
        ]
    },
    {
        "id": "c82886c94c3c8693",
        "type": "inject",
        "z": "51676f5ae1675c99",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 720,
        "wires": [
            [
                "31a5cb37583fb4c3"
            ]
        ]
    },
    {
        "id": "31a5cb37583fb4c3",
        "type": "rpi-dht22",
        "z": "51676f5ae1675c99",
        "name": "",
        "topic": "rpi-dht22",
        "dht": 22,
        "pintype": "0",
        "pin": "4",
        "x": 380,
        "y": 720,
        "wires": [
            [
                "891f6a710fa6a730"
            ]
        ]
    },
    {
        "id": "891f6a710fa6a730",
        "type": "function",
        "z": "51676f5ae1675c99",
        "name": "",
        "func": "var   data = {};\ndata.Tempp = msg.payload;\ndata.Humid = msg.humidity;\nmsg.payload   = data;\nreturn   msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 720,
        "wires": [
            [
                "4f81208d4aa232bb"
            ]
        ]
    },
    {
        "id": "d25587a16e46fe2c",
        "type": "mqtt in",
        "z": "51676f5ae1675c99",
        "name": "",
        "topic": "control/leds",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f87103da3a72f890",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 40,
        "wires": [
            [
                "ede8af72fbce249f",
                "250656607fc84a6b",
                "fc71a41e06c42f96",
                "b33943e6fd663555",
                "b01f6765bf25358a"
            ]
        ]
    },
    {
        "id": "4f81208d4aa232bb",
        "type": "mqtt out",
        "z": "51676f5ae1675c99",
        "name": "",
        "topic": "control/leds",
        "qos": "0",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f87103da3a72f890",
        "x": 750,
        "y": 460,
        "wires": []
    },
    {
        "id": "9f24efe46f80ece3",
        "type": "rpi-gpio out",
        "z": "51676f5ae1675c99",
        "name": "",
        "pin": "26",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 740,
        "y": 120,
        "wires": []
    },
    {
        "id": "73c248834cd70d73",
        "type": "rpi-gpio out",
        "z": "51676f5ae1675c99",
        "name": "",
        "pin": "19",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 740,
        "y": 160,
        "wires": []
    },
    {
        "id": "a7be2b60ab8da531",
        "type": "rpi-gpio out",
        "z": "51676f5ae1675c99",
        "name": "",
        "pin": "16",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 740,
        "y": 200,
        "wires": []
    },
    {
        "id": "f72f99cf183ec4fb",
        "type": "rpi-gpio out",
        "z": "51676f5ae1675c99",
        "name": "",
        "pin": "20",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 740,
        "y": 240,
        "wires": []
    },
    {
        "id": "f87103da3a72f890",
        "type": "mqtt-broker",
        "name": "MQTT",
        "broker": "mqtt.eclipseprojects.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": "",
        "credentials": {}
    }
]