Week 03,Week 04 Module03-IoTs with Node-RED and RPi/Module3-IoTs (Part 3 -- IoTs with Node-RED and RPi)/Q303/MQTT Server on Raspberry Pi/Q303-0101.json
[
    {
        "id": "eef2bbac8a4507be",
        "type": "tab",
        "label": "Q303-0101",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ea52a05d201ce705",
        "type": "debug",
        "z": "eef2bbac8a4507be",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 60,
        "wires": []
    },
    {
        "id": "283086ae86caffa6",
        "type": "change",
        "z": "eef2bbac8a4507be",
        "name": "Change:   LED1",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "OFF1",
                "fromt": "str",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "ON1",
                "fromt": "str",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 140,
        "wires": [
            [
                "76e9951c0da7bc9a"
            ]
        ]
    },
    {
        "id": "3ad45448f51a0a40",
        "type": "inject",
        "z": "eef2bbac8a4507be",
        "name": "ON1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ON1",
        "payloadType": "str",
        "x": 270,
        "y": 320,
        "wires": [
            [
                "4e92a17d85cefb2a"
            ]
        ]
    },
    {
        "id": "2ccb6038299738a7",
        "type": "inject",
        "z": "eef2bbac8a4507be",
        "name": "OFF1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "OFF1",
        "payloadType": "str",
        "x": 270,
        "y": 360,
        "wires": [
            [
                "4e92a17d85cefb2a"
            ]
        ]
    },
    {
        "id": "e2241713227ab3a3",
        "type": "inject",
        "z": "eef2bbac8a4507be",
        "name": "ON2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ON2",
        "payloadType": "str",
        "x": 270,
        "y": 420,
        "wires": [
            [
                "4e92a17d85cefb2a"
            ]
        ]
    },
    {
        "id": "727bd3731b5edcaa",
        "type": "inject",
        "z": "eef2bbac8a4507be",
        "name": "OFF2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "OFF2",
        "payloadType": "str",
        "x": 270,
        "y": 460,
        "wires": [
            [
                "4e92a17d85cefb2a"
            ]
        ]
    },
    {
        "id": "34c2c5c450c56fbe",
        "type": "inject",
        "z": "eef2bbac8a4507be",
        "name": "ON3",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ON3",
        "payloadType": "str",
        "x": 270,
        "y": 520,
        "wires": [
            [
                "4e92a17d85cefb2a"
            ]
        ]
    },
    {
        "id": "6148a2ab65660bec",
        "type": "inject",
        "z": "eef2bbac8a4507be",
        "name": "OFF3",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "OFF3",
        "payloadType": "str",
        "x": 270,
        "y": 560,
        "wires": [
            [
                "4e92a17d85cefb2a"
            ]
        ]
    },
    {
        "id": "c6153781b381a3c5",
        "type": "inject",
        "z": "eef2bbac8a4507be",
        "name": "ON4",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ON4",
        "payloadType": "str",
        "x": 270,
        "y": 620,
        "wires": [
            [
                "4e92a17d85cefb2a"
            ]
        ]
    },
    {
        "id": "afc54f7f1c716ffa",
        "type": "inject",
        "z": "eef2bbac8a4507be",
        "name": "OFF4",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "OFF4",
        "payloadType": "str",
        "x": 270,
        "y": 660,
        "wires": [
            [
                "4e92a17d85cefb2a"
            ]
        ]
    },
    {
        "id": "087b593bb31ef221",
        "type": "change",
        "z": "eef2bbac8a4507be",
        "name": "Change:   LED2",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "OFF2",
                "fromt": "str",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "ON2",
                "fromt": "str",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 180,
        "wires": [
            [
                "2ecf642895a282fe"
            ]
        ]
    },
    {
        "id": "f8605a6fdc41e284",
        "type": "change",
        "z": "eef2bbac8a4507be",
        "name": "Change:   LED3",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "OFF3",
                "fromt": "str",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "ON3",
                "fromt": "str",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 220,
        "wires": [
            [
                "e8443c213eef1979"
            ]
        ]
    },
    {
        "id": "d712379ad2cf230a",
        "type": "change",
        "z": "eef2bbac8a4507be",
        "name": "Change:   LED4",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "OFF4",
                "fromt": "str",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "ON4",
                "fromt": "str",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 260,
        "wires": [
            [
                "dbb2c637d2f51363"
            ]
        ]
    },
    {
        "id": "13f6975c4d50bead",
        "type": "inject",
        "z": "eef2bbac8a4507be",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 250,
        "y": 740,
        "wires": [
            [
                "ec0983869a6e7bcc"
            ]
        ]
    },
    {
        "id": "ec0983869a6e7bcc",
        "type": "rpi-dht22",
        "z": "eef2bbac8a4507be",
        "name": "",
        "topic": "rpi-dht22",
        "dht": 22,
        "pintype": "0",
        "pin": "4",
        "x": 420,
        "y": 740,
        "wires": [
            [
                "61c33804fb90a694"
            ]
        ]
    },
    {
        "id": "61c33804fb90a694",
        "type": "function",
        "z": "eef2bbac8a4507be",
        "name": "",
        "func": "var   data = {};\ndata.Tempp = msg.payload;\ndata.Humid = msg.humidity;\nmsg.payload   = data;\nreturn   msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 740,
        "wires": [
            [
                "4e92a17d85cefb2a"
            ]
        ]
    },
    {
        "id": "5a6d8fff7e791f26",
        "type": "mqtt in",
        "z": "eef2bbac8a4507be",
        "name": "",
        "topic": "control/leds",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f87103da3a72f890",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 60,
        "wires": [
            [
                "ea52a05d201ce705",
                "283086ae86caffa6",
                "087b593bb31ef221",
                "f8605a6fdc41e284",
                "d712379ad2cf230a"
            ]
        ]
    },
    {
        "id": "4e92a17d85cefb2a",
        "type": "mqtt out",
        "z": "eef2bbac8a4507be",
        "name": "",
        "topic": "control/leds",
        "qos": "0",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f87103da3a72f890",
        "x": 790,
        "y": 480,
        "wires": []
    },
    {
        "id": "76e9951c0da7bc9a",
        "type": "rpi-gpio out",
        "z": "eef2bbac8a4507be",
        "name": "",
        "pin": "26",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 780,
        "y": 140,
        "wires": []
    },
    {
        "id": "2ecf642895a282fe",
        "type": "rpi-gpio out",
        "z": "eef2bbac8a4507be",
        "name": "",
        "pin": "19",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 780,
        "y": 180,
        "wires": []
    },
    {
        "id": "e8443c213eef1979",
        "type": "rpi-gpio out",
        "z": "eef2bbac8a4507be",
        "name": "",
        "pin": "16",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 780,
        "y": 220,
        "wires": []
    },
    {
        "id": "dbb2c637d2f51363",
        "type": "rpi-gpio out",
        "z": "eef2bbac8a4507be",
        "name": "",
        "pin": "20",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 780,
        "y": 260,
        "wires": []
    },
    {
        "id": "f87103da3a72f890",
        "type": "mqtt-broker",
        "name": "MQTT",
        "broker": "192.168.0.31",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]